__pycache__/*
accounts.txt
test.py
proxyTest.py
tempCodeRunnerFile.py
proxy.lst
workingProxies.lst
proxine/proxy.lst
proxine/proxy/history/*
proxine/proxy-cloudflare-pass/history/*
proxine/proxy-google-pass/history/*